@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&family=Source+Serif+4:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Source Serif 4", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* padding ami ja ei di.. eta height-width: 300px dile oi area er moddhei thakbe.. size barai padding barabena*/
  color: #bfc2e0;
}

body {
  background-color: #2a2d47;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -ms-flex-line-pack: none;
      align-content: none;
  min-height: 100vh;
}

.nav {
  grid-column: 1/-1;
  background-color: #101224;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.nav a {
  text-decoration: none;
}

.menu {
  background-color: #31334e;
  grid-column: span 2;
  grid-row: span 12;
  height: 100%;
  padding: 30px 0px 0px 0px;
  text-align: center;
}

.menu ul {
  list-style-type: none;
}

.menu li {
  color: #bfc2e0;
  font-size: 20px;
  font-weight: bold;
}

.content {
  padding: 30px;
  grid-column: span 7;
}

.content .videoDetails img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.content .videoDetails p {
  font-family: "Roboto", sans-serif;
}

.listVideos {
  background-color: #23253d;
  grid-column: span 3;
  grid-row: span 12;
  height: 100%;
  padding: 30px 0px 0px 0px;
  text-align: center;
}

.listVideos ul {
  list-style-type: none;
}

.listVideos li {
  color: #bfc2e0;
  font-size: 20px;
  font-weight: bold;
}
