@import "Partials/variables";
@import "Partials/mixins";

* {
  font-family: $font-2;
  font-weight: 400;
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* padding ami ja ei di.. eta height-width: 300px dile oi area er moddhei thakbe.. size barai padding barabena*/
  color: $color-5;
}
body {
  background-color: $color-2;
  //   height: 100%;
  //   min-height: 100vh;
}

// Container (Applying in full body)
.container {
  @include griding(12, 1fr, none, none);
  grid-template-rows: 60px auto auto;

  min-height: 100vh;
}

// Nav Start
.nav {
  grid-column: 1/-1;
  background-color: $color-1;
  padding: 10px 20px;
  @include flexing(space-between, flex-start);
  //   justify-content: flex-start;
  a {
    text-decoration: none;
  }
}

// Menubar
.menu {
  background-color: $color-4;
  grid-column: span 2;
  grid-row: span 12;
  height: 100%;
  padding: 30px 0px 0px 0px;
  text-align: center;
  ul {
    list-style-type: none;
  }
  li {
    color: $color-5;
    font-size: 20px;
    font-weight: bold;
  }
}

.content {
  padding: 30px;
  grid-column: span 7;
  .videoDetails {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 10px;
    }
    p {
      font-family: $font-1;
    }
  }
}

.listVideos {
  background-color: $color-3;
  grid-column: span 3;
  grid-row: span 12;
  height: 100%;
  padding: 30px 0px 0px 0px;
  text-align: center;
  ul {
    list-style-type: none;
  }
  li {
    color: $color-5;
    font-size: 20px;
    font-weight: bold;
  }
}
